<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>MAPS</title>
  <link rel="stylesheet" href="app/css/bootstrap-combined.min.css">
  <link rel="stylesheet" href="app/css/app.css"/>
  <link rel="stylesheet" href="app/css/animations.css">
  <link rel="stylesheet" href="app/css/jquery-ui.css">
</head>
<body>

  <div ng-view class="pop"></div>

  <script src="app/lib/angular/angular.js"></script>
  <script src="app/lib/angular/angular-resource.js"></script>
  <script src="app/lib/angular/angular-route.js"></script>
  <script src="app/lib/angular/angular-animate.js"></script>
  <script src="app/lib/lodash/lodash.js"></script>
  <script src="app/lib/jquery/jquery.js"></script>
  <script src="app/lib/jquery/jquery-ui.js"></script>
  <script src="app/js/utils.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/js/ui.js"></script>
  <script src="app/js/services.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="app/js/filters.js"></script>
  <script src="app/js/directives.js"></script>
  <script src="app/js/animations.js"></script>

</body>
</html>
